RAW_DIR=data/raw/PetImages
OUT_DIR=data/processed
MODEL_DIR=data/models

BATCH_SIZE=128
NUM_WORKERS=4

MODEL_NAME=model.pt
MODEL_SIZE=128
API_URL=http://api:8000
APP_PORT=8080

MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT=cats_dogs
